
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


#editor {
  max-width: 100%;
  min-height: 100px;
  margin: 0 auto;
  padding: 10px;
  border: 1px #d3d3d3 solid;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}